.articles-feed {

  margin-top: 1rem;

  .ui.grid {

    margin: 0;

    .row {

      @import 'articlesColumn';

      @import 'asidesColumn';

      padding-bottom: 0;

    }

  }

}
@media only screen and (max-width: 991px) {

  .articles-feed {

    margin-top: 0;

  }

}
@media only screen and (max-width: 629px) {

  .articles-feed {

    margin-top: 0.5rem;

  }

}
@media only screen and (max-width: 461px) {

  .articles-feed {

    .ui.grid {

      .row {

        display: flex;

        flex-direction: column;

      }

    }

  }

}
