$ratio-of-image-width-to-its-container: 50%;

$ratio-of-image-heigh-to-its-width: 56.25%;

$article-content-right-gutter: 2rem;

$article-content-left-gutter: 2rem;

$articles-column-right-gutter: 3rem;

$article-item-border-radius: 0rem;

.articles.column {

  padding-left: 0;

  padding-right: $articles-column-right-gutter;

  .articles-list {

    .ui.items {

      &>.item {

        border-radius: $article-item-border-radius;

        background-color: #fdfdfd;

        box-shadow: rgba(82, 94, 102, 0.15) 0px 8px 24px 0px;

        &:hover {

          //background-color: #fdfdfd;

          //box-shadow: rgba(82, 94, 102, 0.15) 0px 8px 24px 0px;

        }

        .item-image {

          width: $ratio-of-image-width-to-its-container;

          height: 100%;

          position: relative;

          .category.label {

            color: #FFFFFF;

            padding: 0.5rem 1rem;

            opacity: 0.8;

            top: 1rem;

            left: 1rem;

            border-radius: 20px;

            box-shadow: rgba(82, 94, 102, 0.15) 0px 8px 24px 0px;

            letter-spacing: 0.2rem;

            z-index: 1;

            font-size: 12px;

            background: linear-gradient(to right, #00b4db, #0083b0);

          }

          .image-holder {

            border-radius: $article-item-border-radius;

            border-top-right-radius: 0!important;

            border-bottom-right-radius: 0!important;

            width: 100%;

            height: 0;

            padding-top: $ratio-of-image-heigh-to-its-width;

            background-size: cover!important;

            &.banner1 {

              background: url(../../images/article-feed-item1.png) 50% 50%;

            }
            &.banner2 {

              background: url(../../images/article-feed-item2.png) 50% 50%;

            }
            &.banner3 {

              background: url(../../images/article-feed-item3.png) 50% 50%;

            }
            &.banner4 {

              background: url(../../images/article-feed-item4.png) 50% 50%;

            }
            &.banner5 {

              background: url(../../images/article-feed-item5.png) 50% 50%;

            }
            &.banner6 {

              background: url(../../images/article-feed-item6.png) 50% 50%;

            }
            &.banner7 {

              background: url(../../images/article-feed-item7.png) 50% 50%;

            }
            &.banner8 {

              background: url(../../images/article-feed-item8.png) 50% 50%;

            }
            &.banner9 {

              background: url(../../images/article-feed-item9.png) 50% 50%;

            }
            &.banner10 {

              background: url(../../images/article-feed-item10.png) 50% 50%;

            }
            &.banner11 {

              background: url(../../images/article-feed-item11.png) 50% 50%;

            }
            &.banner12 {

              background: url(../../images/article-feed-item12.png) 50% 50%;

            }

          }

        }

        .content {

          width: 100% - $ratio-of-image-width-to-its-container;

          margin: auto 0rem;

          padding: 0 $article-content-right-gutter;

          padding-left: $article-content-left-gutter;

          .header {

            //color: #0097d2;

            font-size: 1.2rem;

            font-weight: normal;

            text-align: justify;

            margin-top: 0;

            line-height: 2.2rem;

            &:hover {

              color: #0097d2;

            }

          }

          .meta {

            margin: 1rem 0;

            display: flex;

            align-items: center;

            //margin-bottom: 2.5rem;

            .vertical-divider {

              margin: 0 0.5rem;

            }

            .author {

              cursor: pointer;

              display: flex;

              justify-content: center;

              align-items: center;

              margin-right: 0rem;

              .avatar {

                margin-right: 0;

                display: inline-block;

                img {

                  width: 1.5rem;

                  height: 1.5rem;

                }

              }

              .name {

                margin-left: 0.2rem;

              }

            }

            .publish-date {

              margin-right: 0;

              display: flex;

              align-items: center;

            }

            .authorization {

              margin-right: 0rem;

              display: flex;

              align-items: center;

              cursor: pointer;

              .popup-icon-wrapper {

                display: flex;

                align-items: center;

                .icon {

                  width: 1.2rem;

                  height: 1.2rem;

                }

              }

            }

          }

          .description {

            font-size: 1rem;

            //height: 48px;

            color: #959595;

            p {

              line-height: 1.625;

            }

          }

          .extra {

            margin-top: 1rem;

            .article-options {

              display: inline-flex;

              .option {

                margin-right: 1.2rem;

                font-size: 1rem;

                cursor: pointer;

                .icon {

                  margin-right: 0.5rem;

                }

              }

              .share.option + .ui.social-share.popup {

                .social-share.list {

                  .item {

                    padding:0.8rem!important;

                    display: flex;

                    flex-direction: row;

                    align-items: center;

                    cursor: pointer;

                    &:hover {

                      background-color: #FFFFFF!important;

                      box-shadow: none!important;

                    }

                    .icon {

                      width: 1.8rem;

                      height: 1.8rem;

                    }

                    .content {

                      width: 3rem!important;

                      padding: 0!important;

                      padding-left: 0.5rem!important;

                      font-weight: bold;

                    }

                  }

                }

              }

            }

          }

        }

        /** Compatible for IE 11 browser **/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

          .content {

            display: flex;

            flex-direction: column;

            justify-content: center;

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 1262px) {

  .articles.column {

    width: 70%!important;

    padding-right: 3rem;

    .articles-list {

      .ui.items {

        .item {

          .item-image {

            width: 45%;

          }

          .content {

            padding: 0 1.5rem;

            .header {

              font-size: 1.1rem;

              line-height: 1.6;

            }

            .meta {

              margin: 0.8rem 0;

              font-size: 12px;

              .author {

                .avatar {

                  img {

                    width: 1.2rem;

                    height: 1.2rem;

                  }

                }

              }

              .authorization {

                .icon {

                  height: 1rem;

                  width: 1rem;

                }

              }
            }

            .description {

              font-size: 12px;

            }

            .extra {

              margin-top: 0.5rem;

              .article-options {

                .option {

                  font-size: 12px;

                  margin-right: 1rem;

                  .icon {

                    margin-right: 0.2rem;

                  }

                }

                .bookmark.option {

                  .icon {

                    margin-right: 0.1rem;

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 991px) {

  .articles.column {

    width: 60%!important;

    padding-right: 3rem;

    padding-bottom: 0!important;

    .articles-list {

      .ui.items {

        .item {

          display: flex;

          flex-direction: column;

          margin-bottom: 2rem;

          &:last-child {

            margin-bottom: 0;

          }

          .item-image {

            width: 100%;

          }

          .content {

            width: 100%;

            padding-top: 1rem;

            padding-bottom: 1rem;

            .extra {

              .article-options {

                .share.option + .ui.social-share.popup {

                  .social-share.list {

                    .item {

                      margin-bottom: 0;

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 767px) {

  .articles.column {

    .articles-list {

      .ui.items {

        .item {

          margin-top: 0;

        }

      }

    }

  }

}
@media only screen and (max-width: 639px) {

  .articles.column {

    .articles-list {

      .ui.items {

        .item {

          .content {

            padding-left: 1rem;

            padding-right: 1rem;

            .extra {

              .article-options {

                .option {

                  margin-right: 0.5rem;

                }

              }

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 579px) {

  .articles.column {

    padding-right: 1rem;

    .articles-list {

      .ui.items {

        .item {

          .content {

            .extra {

              .article-options {

                .option {

                  display: flex;

                  flex-direction: column;

                  align-items: center;

                  margin-right: 1rem;

                  span {

                    margin-top: 0.5rem;

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 461px) {

  .articles.column {

    padding-right: 0;

    width: 100%!important;

    .articles-list {

      .ui.items {

        .item {

          background-color: #fdfdfd;

          box-shadow: rgba(82, 94, 102, 0.15) 0px 8px 24px 0px;

          &:last-child {

            margin-bottom: 0;

          }

          .content {

            .header {

              line-height: 2.2rem;

            }

            .meta {

              margin: 1rem 0;

              font-size: 1em;

              .author {

                .avatar {

                  img {

                    height: 1.5rem;

                    width: 1.5rem;

                  }

                }

              }

              .authorization {

                .icon {

                  height: 1.2rem;

                  width: 1.2rem;

                }

              }
            }

            .description {

              font-size: 1em;

            }

            .extra {

              margin-top: 1rem;

              .article-options {

                .option {

                  display: block;

                  font-size: 1rem;

                  margin-right: 2rem;

                }

                .share.option + .ui.social-share.popup {

                  .social-share.list {

                    .item {

                      background-color: #FFFFFF!important;

                      box-shadow: none!important;

                    }

                  }

                }

              }

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 430px) {

  .articles.column {

    .articles-list {

      .ui.items {

        .item {

          .content {

            .extra {

              .article-options {

                .option {

                  margin-right: 1rem;

                }

              }

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 374px) {

  .articles.column {

    .articles-list {

      .ui.items {

        .item {

          .content {

            .extra {

              .article-options {

                .option {

                  display: flex;

                  flex-direction: column;

                  align-items: center;

                  margin-right: 1.3rem;

                }

              }

            }

          }

        }

      }

    }

  }

}
