.asides.column {

  padding-left: 0;

  padding-right: 0;

  .asides-wrapper {

    background-color: #F9F9F9;

    border-radius: 0rem;

    box-shadow: rgba(82, 94, 102, 0.15) 0px 8px 24px 0px;

    padding: 2rem;

    padding-bottom: 1rem;

    /** 必须指定固定宽度，防止在iOS设备下sticky滑动抖动的问题 **/
    width: 100%!important;

    .aside1, .aside2 {

      .ui.header {

        display: flex;

        align-items: center;

        justify-content: center;

        .content {

          padding-left: 0;

          position: relative;

          letter-spacing: 0.5rem;

          text-indent: 0.5rem;

          font-size: 1.2rem;

          z-index: 1;

          &::after {

            content: "";

            display: block;

            height: 0;

            width: 4rem;

            position: absolute;

            top: 85%;

            left: 50%;

            opacity: 0.5;

            z-index: -1;

            transform: translate(-50%,-50%);

          }

        }

        .icon {

          width: 2rem;

          height: 2rem;

        }

      }

      .ui.list {

        margin-top: 1.5rem;

        .item {

          padding-bottom: 1rem;

          /* .icon {

            transform: skewX(0deg) translateY(0.2rem);

            width: 1.3rem;

            height: 1.3rem;

            float: left;

          } */

          .ui.header {

            transform: none;

            float: left;

          }

          .content {

            padding-left: 2.2rem;

            .header {

              text-align: justify;

              line-height: 1.6rem;

              color: #000;

            }

            .description {

              font-size: 12px;

              margin-top: 0.5rem;

              display: inline-block;

              padding-bottom: 0.6rem;

              border-bottom: #E2E2E2 solid 1px;

            }

          }

        }


      }

    }

    .aside1 {

      .ui.header {

        transform: translateY(0.2rem);

        .content {

          &::after {

            border: 3px solid #ffcc55;

          }


        }

      }

      .ui.list {

        .item {

          .content {

            .header {

              font-size: 1.1rem;

              font-weight: normal;

            }

          }

        }

      }

    }

    .aside2 {

      margin-top: 1rem;

      .ui.header {

        .content {

          &::after {

            border: 3px solid #ff5f2c;

          }

        }

      }

      .ui.list {

        text-align: center;

        .item {

          margin: 0.5rem;

          margin-top: 0;

          margin-bottom: 1rem;

          cursor: pointer;

          z-index: 2;

          font-size: 12px;

          display: inline-block;

          padding: 0.4rem 0.6rem;

          color: #fff;

          position: relative;

          font-style: italic;

          &::before {

            z-index: -1;

            background-image: linear-gradient(45deg, #FFA366 0%, #FF5831 100%);

            transform: skewX(-8deg);

          }

          &::after {

            z-index: -2;

            background: #FFE6E0;

            transform: skewX(-8deg) translate(3px, 3px);

            visibility: visible;

          }

          &::before, &::after {

            border-radius: 3px;

            content: '';

            width: 100%;

            height: 100%;

            position: absolute;

            top: 0;

            left: 0;

          }

        }

        .item:hover {

          transform: scale(1.05);

        }

      }

    }

  }

}
@media only screen and (max-width: 1262px) {

  .asides.column {

    width: 30%!important;

    .asides-wrapper {

      .aside2 {

        .ui.list {

          .item {

            margin: 0.3rem;

            margin-bottom: 0.6rem;

            margin-top: 0;

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 991px) {

  .asides.column {

    width: 40%!important;

  }

}
@media only screen and (max-width: 538px) {

  .asides.column {

    .asides-wrapper {

      padding-bottom: 2rem;

      .aside1, .aside2 {

        .ui.list {

          margin-top: 0;

        }

      }

      .aside2 {

        .ui.list {

          .item {

            margin: 0.1rem;

            margin-bottom: 0.3rem;

            margin-top: 0;

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 493px) {

  .asides.column {

    .asides-wrapper {

      padding-bottom: 2rem;

      .aside1, .aside2 {

        .ui.header {

          .icon {

            width: 1.6rem;

            height: 1.6rem;

          }

          .content {

            font-size: 1.05rem;

            &::after {

              width: 3rem;

              top: 78%;

            }

          }

        }

      }

      .aside1 {

        .ui.header {

          .content {

            &::after {

              border: 2px solid #ffcc55;

            }

          }

        }

      }

      .aside2 {

        .ui.header {

          .content {

            &::after {

              border: 2px solid #ff5f2c;

            }

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 461px) {

  .asides.column {

    height: auto!important;

    width: 100%!important;

    padding-top: 2rem!important;

    padding-bottom: 0!important;

    .asides-wrapper {

      margin-top: 0!important;

      .aside1, .aside2 {

        .ui.header {

          .icon {

            width: 2rem;

            height: 2rem;

          }

          .content {

            font-size: 1.2rem;

            &::after {

              top: 85%;

              width: 4rem;

              border-width: 4px;

            }

          }

        }

      }

      .aside2 {

        .ui.list {

          .item {

            margin: 0.3rem;

            margin-bottom: 0.6rem;

            margin-top: 0;

          }

        }

      }

    }

  }

}
