.corner_banners {

  padding-top: 1rem;

  padding-bottom: 1rem;

  border: $pageBannersBorder;

  border-left: none;

  position: absolute;

  width: 30%;

  height: 100%;

  top: 0;

  right: 0;

  overflow: hidden;

  .ui.corner.label {

    cursor: default;

    &:hover {

      border-color: #fbbd08!important;

    }

  }

  .corner_banner {

    display: flex;

    visibility: hidden;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem;

    box-sizing: border-box;

    margin-top: 0!important;

    margin-bottom: 0!important;

    margin-right: 0;

    cursor: pointer;

    width: auto;

    height: 33.333%;

    &.corner_banner1 {

      .card_image{

        &.banner1 {

          /** Removing no-repeat option in order to solve the problem that the edge of the rounded picture is to be cut **/
          background: url(../../images/corner_banners_item1.png) 50% 50%;

        }

      }

    }

    &.corner_banner2 {

      .card_image{

        &.banner2 {

          /** Removing no-repeat option in order to solve the problem that the edge of the rounded picture is to be cut **/
          background: url(../../images/corner_banners_item2.png) 50% 50%;

        }

      }

    }

    &.corner_banner3 {

      .card_image{

        &.banner3 {

          /** Removing no-repeat option in order to solve the problem that the edge of the rounded picture is to be cut **/
          background: url(../../images/corner_banners_item3.png) 50% 50%;

        }

      }

    }

    .card_area {

      display: flex;

      align-items: center;

      .image_holder{

        width: 25%;

        .card_image {

          box-shadow: 5px 3px 18px rgba(0, 0, 0, 0.2);

          border-radius: 50%;

          float: left;

          background-size: cover!important;

          padding-top: 100%;

          width: 100%;

          height: auto;

          margin-left: 1.5rem;

          margin-right: 1.5rem;

          transition: all .3s cubic-bezier(0, 0, 0.2, 1) 0s;

        }

      }

      .card_content{

        display: flex;

        flex-direction: column;

        justify-content: center;

        padding-left: 2.8rem;

        width: 75%;

        height: 100%;

        h6 {

          text-align: justify;

          margin: 0;

          font-size: 1rem;

          line-height: 2rem;

          font-weight: bold;

        }

        p {

          padding-top: 0.3rem;

          padding-right: 2rem;

          text-align: justify;

          color: #000;

          font-size: 1rem;

          line-height: 1.8rem;

        }

      }

    }

  }

}
@media only screen and (max-width: 1262px) {

  .corner_banners {

    .ui.right.ribbon.label {

      width: 5.5rem;

      font-size: 0.8rem;

    }

    .corner_banner {

      .card_area {

          .image_holder {



            width: 25.8%;

          }

        .card_content {

          transform: translateY(-0.15rem);

          h6 {

            font-size: 12px;

            line-height: 2rem;

          }

          p {

            line-height: 1.4rem;

            font-size: 12px;

          }

        }

      }

    }

  }

}
@media only screen and (max-width: 991px) {

  .corner_banners {

    &>.ui.corner.label {

      display: none;

    }

    display: flex;

    align-items: center;

    width: 100%;

    border-top: none!important;

    border: #{nth($pageBannersBorder,3)} solid transparent;

    height: calc(#{$mainBannerPaddingBottom-pad} + #{nth($pageBannersBorder,3)});

    float: left;

    padding-right: 1rem;

    top: auto;

    bottom: 0%;

    .ui.right.ribbon.label {

      display: none;

    }

    .corner_banner {

      width: 33.333%;

      height: auto;

      float: left;

      .card_area {

        display: flex;

        align-items: center;

        .image_holder {

          transform: translateY(0.1rem);

          flex-basis: 5rem;

          .card_image {

            margin-left: 1rem;

            margin-right: 1rem;

          }

        }

        .card_content {

          transform: none;

          padding-left: 0;

          margin-left: 2rem;

          h6 {

            font-size: 12px;

            line-height: 1.6rem;

          }

          p {

            line-height: 1.1rem;

            font-size: 12px;

            padding-right: 0;

          }

        }

      }
      /** Compatible for IE 11 browser **/
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

        .card_area {

          display: block;

        }

      }

    }

  }

}
@media only screen and (max-width: 579px) {

  .corner_banners {

    padding-left: 1rem;

    height: calc(#{$mainBannerPaddingBottom-mobile} + #{nth($pageBannersBorder,3)});

    justify-content: center;

    .corner_banner{

      .card_area {

        justify-content: center;

        flex-direction: column;

        .image_holder {

          transform: none;

          margin-bottom: 0.8rem;

          flex-basis: auto;

          width: 35%;

          .card_image {

            margin-left: 0;

          }

        }

        .card_content {

          width: 80%;

          margin-left: 0;

          align-items: center;

          h6 {

            font-size: 12px;

            line-height: 1.8rem;

          }

          p {

            text-align: center;

            line-height: 1.5rem;

            letter-spacing: 1px;

          }

        }

      }


    }

  }

}
@media only screen and (max-width: 414px) {

  .corner_banners {

    .corner_banner{

      .card_area {

        .image_holder {

          flex-basis: auto;

          width: 45%;

        }

      }

    }

  }

}
@media only screen and (max-width: 360px) {

  .corner_banners {

    .corner_banner{

      .card_area {

        .image_holder {

          width: 50%;

        }

        .card_content {

          h6 {

            text-align: center;

            line-height: 1.2rem;

            font-size: 11px;

          }

          p {

            line-height: 1.4rem;

            font-size: 11px;

          }

        }

      }


    }

  }

}
