footer {

  margin-top: 2rem;

  //background-color: #1B1B1C;

  background: linear-gradient(-45deg, #0f99d0, #2a6ea8);

  .container {

    .grid {

      margin: 0;

      .row {

        padding-top: 3rem;
        padding-bottom: 3rem;

        .left.column {

          display: flex;

          flex-direction: column;

          justify-content: space-between;


          .logo_section {

            .icon {

              width: 13.5rem;

              height: 4.5rem;

            }

          }

          .footer-share {

            display: flex;

            flex-direction: row;

            align-items: flex-end;

            flex-grow: 1;

            .share-item {

              margin-right: 2rem;

              .icon {

                width: 2rem;

                height: 2rem;


              }

            }

          }

          .declaration {

            color: #fff;

            letter-spacing: 2px;

            margin-top: 2rem;

            font-size: 10px;

            .company {

              line-height: 1.5rem;

            }

          }

        }

        .right.column {

          .link-item {

            color: #fff;

            font-weight: bold;

            font-size: 1rem;

            float: left;

            margin-left: 8rem;

            .link-title {

              margin-bottom: 2rem;

            }

            a {

              color: #fff;

              font-weight: normal;

              font-size: 12px;

            }

          }

        }

      }

    }

  }

}
