/** Page Banners Section **/

/**Responsive Points: 1262px | 991px(Pad) | 579px(Mobile) | 360px(Extra Small Mobile) **/

$pageBannersBorder: #f2f2f2 solid 1px;

$mainBannerPadding-normal: 0.6rem;

$mainBannerPaddingBottom-pad: 7.2rem;

$mainBannerPaddingBottom-mobile: 14rem;

$navDotsFromBottom: 2rem;

#main_content .page_banners {

  position: relative;

  box-shadow: none;

  .featured_label {

    opacity: 0.85;

    top: calc(#{nth($pageBannersBorder,3)} + #{$mainBannerPadding-normal});

    left: calc(#{nth($pageBannersBorder,3)} + #{$mainBannerPadding-normal});

    border-radius: 0;

    box-shadow: rgba(82, 94, 102, 0.15) 0px 8px 24px 0px;

    letter-spacing: 0.2rem;

    z-index: 1;

    font-size: 1rem;

    background-color: #0097d1!important;

  }
  @media only screen and (max-width: 579px) {

    .featured_label {

      font-size: 10px;

    }

  }

  .main_banner.featured_carousel {

    cursor: pointer;

    width: 70%;

    height: auto;

    margin-top: 3rem;

    /** Eliminating the blue border when clicking on the slides **/
    .slick-slide, .slick-slide *{ outline: none !important; }

    .ui.button {

      margin-right: 0;

      opacity: 0;

      position: absolute;

      top: 50%;

      width: 40px;

      height: 40px;

      z-index: 2;

      transform: translateY(-50%);

      background-color: rgba(31,45,61,.11);

      color: #fff;

      text-align: center;

      transition: all .3s ease 0s;

      &:hover {

        background-color: rgba(31,45,61,.23);

      }

    }

    .prev.button {

      left: calc(#{$mainBannerPadding-normal} + #{nth($pageBannersBorder,3)});

    }

    .slick-list {

      border: $pageBannersBorder;

      border-right: none;

      padding: $mainBannerPadding-normal;

      padding-right:0;

      padding-bottom: 0.55rem;

    }

    .next.button {

      right: 0;

    }

    .slick-dots {

      top: calc(100% - #{$mainBannerPadding-normal} - #{nth($pageBannersBorder,3)} - #{$navDotsFromBottom});

      bottom: auto;

      cursor: default;

      li {

        opacity: 0.7;

        border: 0;

        display: inline-block;

        width: 12px;

        height: 12px;

        background-color: #0096d0;

        border-radius: 10px;

        &.slick-active {

          border: 0;

          display: inline-block;

          width: 25px;

          height: 12px;

          border-radius: 10px;

          background-color: #ffea75;

        }

        button:before {

          content: '';

        }

      }

    }

    .item {

      display: block!important;

      .image_holder {

        position: relative;

        top: 0;

        bottom: 0;

        height: 25rem;

        display: block;

        visibility: hidden;

        background-size: cover!important;

        width: 100%;

        &.banner1 {

          background: url(../../images/featured_carousel_item1.png) 50% 50% no-repeat;

        }

        &.banner2 {

          background: url(../../images/featured_carousel_item2.png) 50% 50% no-repeat;

        }

        &.banner3 {

          background: url(../../images/featured_carousel_item3.png) 50% 50% no-repeat;

        }

        &.banner4 {

          background: url(../../images/featured_carousel_item4.png) 50% 50% no-repeat;

        }

        &.banner5 {

          background: url(../../images/featured_carousel_item5.png) 50% 50% no-repeat;

        }

        &.banner6 {

          background: url(../../images/featured_carousel_item6.png) 50% 50% no-repeat;

        }

        .overlay {

          position: absolute;

          top: 0;

          bottom: 0;

          width: 100%;

          transition: all 1s ease;

          background-color: #000;

          opacity: 0.2;

        }

        .header {

          width: 100%;

          font-size: 2rem;

          line-height: 1.5;

          color: #fff;

          position: absolute;

          top: 50%;

          left: 50%;

          transform: translate(-50%,-50%);

          padding: 60px;

          text-shadow: 1px 1px 10px #000;

          text-align: center;

          font-weight: bold;

        }

      }

    }

  }
  @media only screen and (max-width: 1262px) {

    .main_banner.featured_carousel {

      .item {

        .image_holder {

          height: 22rem;

        }

      }

    }

  }
  @media only screen and (max-width: 991px) {

    .main_banner.featured_carousel {

      width: 100%;

      .ui.button {

        top: calc((100% - #{$mainBannerPaddingBottom-pad} + #{$mainBannerPadding-normal}) / 2);

      }

      .slick-list {

        padding-right: $mainBannerPadding-normal;

        border-right: $pageBannersBorder;

        padding-bottom: $mainBannerPaddingBottom-pad;

      }

      .next.button {

        right: calc(#{nth($pageBannersBorder,3)} + #{$mainBannerPadding-normal});

      }

      .slick-dots {

        top: calc(100% - #{$mainBannerPaddingBottom-pad} - #{nth($pageBannersBorder,3)} - #{$navDotsFromBottom});

        bottom: auto;

      }

      .item {

        .image_holder {

          height: 20rem;

          .header {

            font-size: 1.8rem;

          }

        }

      }

    }

  }
  @media only screen and (max-width: 579px) {

    .main_banner.featured_carousel {

      .ui.button {

        top: calc((100% - #{$mainBannerPaddingBottom-mobile} + #{$mainBannerPadding-normal}) / 2);

      }

      .slick-list {

        padding-bottom: $mainBannerPaddingBottom-mobile;

      }

      .slick-dots {

        top: calc(100% - #{$mainBannerPaddingBottom-mobile} - #{nth($pageBannersBorder,3)} - #{$navDotsFromBottom});

        bottom: auto;

      }

      .item {

        .image_holder {

          height: 13rem;

          .header {

            font-size: 1.2rem;

          }

        }

      }

    }

  }
  @media only screen and (max-width: 360px) {

    .main_banner.featured_carousel {

      .ui.button {

        display: none!important;

      }

      .item {

        .image_holder {

          height: 10rem;

          .header {

            font-size: 1rem;

          }

        }

      }

    }

  }


  .corner_banners {

    padding-top: 1rem;

    padding-bottom: 1rem;

    border: $pageBannersBorder;

    border-left: none;

    position: absolute;

    width: 30%;

    height: 100%;

    top: 0;

    right: 0;

    .ui.right.ribbon.label {

      padding-right: 1.2rem;

      text-align: center;

      letter-spacing: 0.2rem;

      text-indent: 0.2rem;

      width: 6rem;

      font-size: 1rem;

      opacity: 0.8;

      position: absolute;

      left: calc(100% + 1.2em);

      &::after {

        opacity: 0.8;

      }

    }

    .corner_banner {

      visibility: hidden;

      padding-top: 0.5rem;

      padding-bottom: 0.5rem;

      box-sizing: border-box;

      margin-top: 0!important;

      margin-bottom: 0!important;

      margin-right: 0;

      cursor: pointer;

      width: auto;

      height: 33.333%;

      &.corner_banner1 {

        .card_image{

          &.banner1 {

            /** Removing no-repeat option in order to solve the problem that the edge of the rounded picture is to be cut **/
            background: url(../../images/corner_banners_item1.png) 50% 50%;

          }

        }

      }

      &.corner_banner2 {

        .card_image{

          &.banner2 {

            /** Removing no-repeat option in order to solve the problem that the edge of the rounded picture is to be cut **/
            background: url(../../images/corner_banners_item2.png) 50% 50%;

          }

        }

      }

      &.corner_banner3 {

        .card_image{

          &.banner3 {

            /** Removing no-repeat option in order to solve the problem that the edge of the rounded picture is to be cut **/
            background: url(../../images/corner_banners_item3.png) 50% 50%;

          }

        }

      }

      .card_area {

        .image_holder{

          width: 27.315%;

          .card_image {

            box-shadow: 5px 3px 18px rgba(0, 0, 0, 0.2);

            border-radius: 50%;

            float: left;

            background-size: cover!important;

            padding-top: 100%;

            width: 100%;

            height: auto;

            margin-left: 1rem;

            margin-right: 1rem;

            transition: all .3s cubic-bezier(0, 0, 0.2, 1) 0s;

          }

        }

        .card_content{

          display: flex;

          flex-direction: column;

          justify-content: center;

          height: 100%;

          h6 {

            text-align: justify;

            margin: 0;

            font-size: 1.2rem;

            line-height: 2rem;

          }

          p {

            padding-top: 0.3rem;

            padding-right: 2rem;

            text-align: justify;

            color: #000;

            font-size: 1rem;

            line-height: 1.8rem;

          }

        }

      }

    }

  }
  @media only screen and (max-width: 1262px) {

    .corner_banners {

      .ui.right.ribbon.label {

        width: 5.5rem;

        font-size: 0.8rem;

      }

      .corner_banner {

        .card_area {

            .image_holder {

              transform: translateY(0.5rem);

              width: 25.8%;

            }

          .card_content {

            transform: translateY(-0.15rem);

            h6 {

              font-size: 14px;

              line-height: 2rem;

            }

            p {

              line-height: 1.4rem;

              font-size: 12px;

            }

          }

        }

      }

    }

  }
  @media only screen and (max-width: 991px) {

    .corner_banners {

      display: flex;

      align-items: center;

      width: 100%;

      border-top: none!important;

      border: #{nth($pageBannersBorder,3)} solid transparent;

      height: calc(#{$mainBannerPaddingBottom-pad} + #{nth($pageBannersBorder,3)});

      float: left;

      padding-right: 1rem;

      top: auto;

      bottom: 0%;

      .ui.right.ribbon.label {

        display: none;

      }

      .corner_banner {

        width: 33.333%;

        height: auto;

        float: left;

        .card_area {

          display: flex;

          align-items: center;

          .image_holder {

            transform: translateY(0.1rem);

            flex-basis: 7rem;

          }

          .card_content {

            transform: none;

            margin-left: 2rem;

            h6 {

              font-size: 13px;

              line-height: 1.6rem;

            }

            p {

              line-height: 1.1rem;

              font-size: 12px;

              padding-right: 0;

            }

          }

        }
        /** Compatible for IE 11 browser **/
        @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

          .card_area {

            display: block;

          }

        }

      }

    }

  }
  @media only screen and (max-width: 579px) {

    .corner_banners {

      padding-left: 1rem;

      height: calc(#{$mainBannerPaddingBottom-mobile} + #{nth($pageBannersBorder,3)});

      justify-content: center;

      .corner_banner{

        .card_area {

          justify-content: center;

          flex-direction: column;

          .image_holder {

            transform: none;

            margin-bottom: 0.8rem;

            flex-basis: auto;

            width: 45%;

            .card_image {

              margin-left: 0;

            }

          }

          .card_content {

            width: 80%;

            margin-left: 0;

            align-items: center;

            h6 {

              font-size: 12px;

              line-height: 1.8rem;

            }

            p {

              text-align: center;

              line-height: 1.5rem;

              letter-spacing: 1px;

            }

          }

        }


      }

    }

  }
  @media only screen and (max-width: 360px) {

    .corner_banners {

      .corner_banner{

        .card_area {

          .card_content {

            h6 {

              text-align: center;

              line-height: 1.2rem;

            }

            p {

              line-height: 1.4rem;

            }

          }

        }


      }

    }

  }

}
