/** Page Banners Section **/

/**Responsive Points: 1262px | 991px(Pad) | 579px(Mobile) | 360px(Extra Small Mobile) **/

$pageBannersBorder: #f2f2f2 solid 1px;

$mainBannerPadding-normal: 0.6rem;

$mainBannerPaddingBottom-pad: 7.2rem;

$mainBannerPaddingBottom-mobile: 14rem;

$navDotsFromBottom: 2rem;

#main_content .page_banners {

  position: relative;

  box-shadow: none;

  @import 'main_banner';

  @import 'corner_banners';

}
