/** Page Banners Section **/

/**Responsive Points: 1262px | 991px(Pad) | 579px(Mobile) | 360px(Extra Small Mobile) **/

$pageBannersBorder: #f2f2f2 solid 1px;

$mainBannerPadding-normal: 0.6rem;

$mainBannerPaddingBottom-pad: 7.2rem;

$mainBannerPaddingBottom-mobile: 14rem;

$navDotsFromBottom: 2rem;



.page_banners {

  margin-top: 2rem;

  position: relative;

  box-shadow: none;

  @import 'mainBanner';

  @import 'cornerBanners';

}
@media only screen and (max-width: 767px){

  .page_banners {

    margin-top: calc(3.5rem + 2rem + 2px);



  }

}
