/** Initial Setting for the Site **/

/** making the 'X' icon and eye icon shown in the input invisible for IE10+ and Edge browsers **/
::-ms-clear,::-ms-reveal{

  display:none;

}

/** Force set the background color of the body **/
/** Set the min width of the body, not allow to lower than the width of iPhone 5 **/
/** .pushable is from Semantic UI for sidebar functionality **/
body.pushable {

  background:#fff!important;

  min-width: 320px;

}



html,body {

  /** Solving the problem that a grey background will show up when clicking on some elements like links in iOS devices **/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  /** Solving the problem that the postion of the popup components provided by the SUI Framework does not right **/
  height: 100%;


}

.pusher {

  /** Solving the problem that the header will flash when scroll to the top of the browser window in Safari **/
  position: static!important;

}

//// Show the scrollbar to avoid the width jumping when toggling modals
body.animating.in.dimmable, body.dimmed.dimmable {
    overflow: inherit;
}
