.yunpian-captcha {

  height: 40px;

  visibility: hidden;

  order: 4;

  display: flex;

  justify-content: center;

  .yp-riddler.yp-dialog.yp-riddler-button {

    border-radius: 10rem;

    .yp-riddler-win-masker.dialog {

        background: transparent;

        .yp-riddler-winbox{

          transform: translateX(-0.15rem);

          .yp-riddler-win {

            box-shadow: 2px 2px 2px #f2f2f2;

            border: 1px solid #f2f2f2;

            transform: translateY(-0.5rem);

            .yp-riddler-slider-area {

              height: 40px!important;

              line-height: 40px!important;

              .yp-riddler-slider-tip-default, .yp-riddler-slider-tip-error {

                font-size: 1rem!important;

                padding-left: 4.286rem!important;

              }

              .yp-riddler-slider-btn {

                width: 4.49rem!important;

                font-size: 1rem;

              }

            }

          }

          .yp-riddler-mark {

            display: none;

          }

        }

    }

    .yp-riddler-button-sucButton_logo {

      display: none;

    }

    .yp-riddler-button-sucButton_text {

      margin-left: 0;

    }

    /** Compatible for IE 11 browser **/
    /** make the Yunpian Puzzle show in the correct posision **/
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

      .yp-riddler-win-masker.dialog {

        position: absolute;

        .yp-riddler-winbox {

          position: relative;

          top: -24rem;

        }

      }

    }

  }

}
