//引入第三方库
@import '../../../semantic-ui/dist/semantic.min.css';
@import '~slick-carousel/slick/slick';
@import '~slick-carousel/slick/slick-theme';


@import 'site';
@import 'header';
@import 'navigation';
@import 'mainContent';
@import 'footer';
